  <div class="container">

    <div class="row text-center">
      <img class="img-fluid img-thumbnail mx-auto d-block" src="/assets/image/burger.jpeg">
    </div>
    <div class="row">
      <div class="col-md-8">
        <h2>Burger To devour</h2>      

      </div>
       <div class="col-md-4">
        <h2>Burger Devoured</h2>      

      </div>
    </div>

  </div>

  